*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li{
  list-style-type: none;
  display: inline-block;
}

/* HEADER */
.page-header{
  background-color: rgb(255, 105, 0);
  padding: 25px 0px;
}

.menu a{
  color: white;
  text-decoration: none;
  padding: 0px 10px;
}
.menu a:visited{
  text-decoration: none;
}
.menu__items{
  font-size: 18px;
}
.logo{
  width: 150px;
}
.icon-header{
  width: 20px;
}

/* MAIN */
.page-content{
  padding: 50px 0px;
}

.img-person{
  max-width: 350px;
  padding: 40px 0;
}







.container{
  margin: 0 auto;
  width: 1200px;
}

.row{
  display: flex;
  flex-wrap: wrap;
}

.justify-between{
  justify-content: space-between;
  align-items: center;
}

.col-4{
  flex-basis: calc((100% / 12) * 4);
}





/* DEBUG */

.debug .page-header{
  padding: 10px;
  background-color: cornflowerblue;
}

.debug .page-header .col{
  background-color: #daa520;
  border: 2px dotted black;
  padding: 20px;
  color: white;
}

.debug .col-4{
  background-color: cadetblue;
  border: 2px solid black;
  padding: 20px;
  color: white;
}